<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Koech Five Star Hotel</title>
    {% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'layout.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'maxheight.js' %}" type="text/javascript"></script>
<!--[if lt IE 7]>
<link href="{% static 'ie_style.css' %}" rel="stylesheet" type=" text/css" />
<script type="text/javascript" src="{% static 'ie_png.js' %}"></script>
<script type="text/javascript">ie_png.fix('.png, #header .row-2, #header .nav li a, #content, .gallery li');</script>
<![endif]-->
</head>
<body id="page1" onload="new ElementMaxHeight();">
<div id="main">
  <!-- header -->
  <div id="header">
    <div class="row-1">
      <div class="wrapper">
        <div class="logo">
          <h1><a href="#">Koech Five Star Hotel</a></h1>
          <em>Hotel</em> <strong>True Luxury</strong>
        <div class="phones"> 0711257900<br />
          0722888016 </div>
      </div>
    </div>
    <div class="row-2">
      <div class="indent">
        <!-- header-box begin -->
        <div class="header-box">
          <div class="inner">
            <ul class="nav">
              <li><a href=" {% url 'my-index' %}" class="current">Home page</a></li>
              <li><a href="{% url 'my-services' %}">services</a></li>
              <li><a href="{% url 'my-gallery' %}">Gallery</a></li>
              <li><a href="{% url 'my-restaurant' %}">Restaurant</a></li>
              <li><a href="{% url 'my-testimonial' %}">Testimonials</a></li>
              <li><a href="{% url 'my-bookings' %}">Booking</a></li>
                <li><a href="{% url 'my-login' %}">login</a></li>
            </ul>
          </div>
        </div>
        <!-- header-box end -->
      </div>
    </div>
  </div>
  <!-- content -->
  <div id="content">
    <div class="wrapper">
      <div class="aside maxheight">
        <!-- box begin -->
        <div class="box maxheight">
          <div class="inner">
            <h3>Reservation:</h3>
            <form action="#" id="reservation-form">
              <fieldset>
              <div class="field">
                <label>Check In:</label>
                <select class="select1">
                  <option>30</option>
                </select>
                <select class="select2">
                  <option>April 2019</option>
                </select>
              </div>
              <div class="field">
                <label>Check Out:</label>
                <select class="select1">
                  <option>01</option>
                </select>
                <select class="select2">
                  <option>May 2020</option>
                </select>
              </div>
              <div class="field"> Persons: &nbsp;
                <input type="text" value="1"/>
&nbsp; &nbsp; &nbsp; &nbsp; Rooms:&nbsp;
                <input type="text" value="1"/>
              </div>
              <div class="button"><span><span><a href="#">Check Availability</a></span></span></div>
              </fieldset>
            </form>
          </div>
        </div>
        <!-- box end -->
      </div>
      <div class="content">
        <div class="indent">
          <h2> Koech FiveStar Hotel is happy to welcome you!</h2>
          <img class="img-indent png" alt="" src="{% static 'images/1page-img1.png' %}" />
          <p class="alt-top">Come alone or bring your family with you, stay here for a night or for weeks, stay here while on business trip or at some kind of conference - either way our hotel is the best possible variant.</p>
          Feel free to contact us anytime in case you have any questions or concerns.
          <div class="clear"></div>
          <div class="line-hor"></div>
          <div class="wrapper line-ver">
            <div class="col-1">
              <h3>Special Offers</h3>
              <ul>
                <li>FREE wide-screen TV</li>
                <li>50% Discount for Restaraunt service</li>
                <li>30% Discount for 3 days+ orders</li>
                <li>FREE drinks and beverages in rooms</li>
                <li>Exclusive souvenirs</li>
              </ul>
              <div class="button"><span><span><a href="#">Order Now!</a></span></span></div>
            </div>
            <div class="col-2">
              <h3>Location</h3>
              <p>We are located in the center of Prague surrounded by malls and boutiques.</p>
              <dl class="contacts-list">
                <dt>koech st.</dt>
                <dd>0711257900</dd>
                <dd>0722888016</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div id="footer">
    <ul class="nav">
      <li><a href="{% url 'my-index' %}">Home</a>|</li>
      <li><a href="{% url 'my-services' %}">Services</a>|</li>
      <li><a href="{% url 'my-gallery' %}">Gallery</a>|</li>
      <li><a href="{% url 'my-restaurant' %}">Restaurant</a>|</li>
      <li><a href="{% url 'my-testimonial' %}">Testimonials</a>|</li>
      <li><a href="{% url 'my-bookings' %}">Booking</a></li>
        <li><a href="{% url 'my-signup'  %}">Signup</a></li>
        <li><a href="{% url 'my-edit' %}">Edit</a></li>
    </ul>
    <div class="wrapper">
      <div class="fleft">Copyright &copy; 2009 <a href="#">Name Here</a>. All Rights Reserved</div>
      <div class="fright">Designed by TemplateMonster - <a href="http://www.templatemonster.com/">website templates</a> provider</div>
    </div>
  </div>
</div>
</body>
</html>
